{% block navbar %}

    <div class="sticky">
        <nav data-options="sticky_on: large" role="navigation" data-topbar="" class="top-bar">
            <ul class="title-area">
                <li class="name">
                    <span class="title">
                        <a href="#">
                            <span class="icon-medium icon-home vertical-middle"></span>
                            {{ 'views.navbar.title'|trans }}
                        </a>
                    </span>
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#">
                        <span>{{ 'views.navbar.menu'|trans }}</span>
                    </a>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="divider"></li>
                        <li>
                            <a class="" href="{{ path('zimzim_categoryproduct_category') }}">
                                <span class="icon-medium icon-file vertical-middle"></span>
                                {{ 'views.navbar.admincategory'|trans }}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="" href="{{ path('zimzim_categoryproduct_product') }}">
                                <span class="icon-medium icon-address-book vertical-middle"></span>
                                {{ 'views.navbar.adminproduct'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="divider"></li>
                    <li>
                        <a class="" href="{{ path('zimzim_categoryproduct_category_listslugnull') }}">
                            <span class="icon-medium icon-file vertical-middle"></span>
                            {{ 'views.navbar.product'|trans }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="" href="#">
                            <span class="icon-medium icon-address-book vertical-middle"></span>
                            {{ 'views.navbar.contact'|trans }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                        <a href="#">
                            <span class="icon-medium icon-flag vertical-middle"></span>
                        </a>
                        <ul class="dropdown">
                            <li class="title back js-generated">
                                <h5>
                                    <a href="javascript:void(0)">
                                        {{ 'views.navbar.back'|trans }}
                                    </a>
                                </h5>
                            </li>
                            {% set tabLang = ['fr','en','ru','al','es'] %}
                            {% for lang in tabLang %}
                                <li class="text-center">
                                    <a class="" href="#">
                                        {{ lang }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </section>
        </nav>
    </div>


{% endblock navbar %}